body {
  margin: 0;
}

.banner {
  background-color: #017081;
}

.banner img {
  width: 70%;
}

.intro {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: #017081;
}

.intro a:hover {
  color: #00252f;
}

.intro p {
  font-size: 15px;
}

#mapContainer {
  flex: 1 0 auto;
  padding: 10px;
  width: 75%;
  height: 400px;
  margin: 0 auto;
}

/*Credit to Chris Whong! https://bl.ocks.org/chriswhong/8977c0d4e869e9eaf06b4e9fda80f3ab
/* Change the cursor to a pointer on hover so the user knows it's clickable */
.mapboxgl-marker:hover {
  cursor: pointer;
}

/* darken the marker on hover */
.mapboxgl-marker:hover svg > g > g:nth-child(2) {
  fill: #017081;
}
